@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Roboto Condensed', sans-serif;
}
a{
	text-decoration: none;
	color: rgb(0,122,205);
}
a:hover{
	cursor:pointer;
	color: rgb(88, 179, 240);
}

body {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
}
.container {
    display: grid;
    max-width: 450px;
    grid-template-columns: repeat(12,auto);
    grid-template-rows: repeat(10,1fr);
    grid-gap: 0.2rem;
  }

  .container header{
   // min-height: 45px;
    grid-column: span 12;
    padding: 15px;
    font-size: 25px;
    text-align: left;
    background-color: rgb(240, 240, 240);
    display: flex;
    position: sticky;
    align-items: center;
  }
  #gobiernoEspana{
    flex-grow: 10;
    margin-left: 20px;
    align-items: center;
    display: flex;
  }
  #logoEsp{
    width: 60px;
    opacity: 0.8;
  }
  #cabecera {
    background-color: #d8ddf8;
  }

  #inicioSes, #registro, #restricciones, #estadisticasMain {
    background-color: rgb(240, 240, 240 );
    font: serif;
    font-size: 17px;
    
  } 

  .escribir{
    width: 100%;
    height: 28px;
  }

  .casilla{
    height: 28px;
    width: 28px;
    margin-right: .4rem;
  }

  .confirmarPolitica{
    align-items: center;
    display: flex;
  }
  .confirmarPolitica a{
    padding-left: .4rem;
  }

  select {
    font-size: 17px;
  }

  #titulo:hover{
    background-color: rgb(230, 230, 230);
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
  }

  #titulo:active{
    background-color: rgb(250, 250, 250);
    cursor: pointer;
  }

  #texto {
    font: serif;
    font-size: 25px;
    padding-bottom: 3px;
    box-align: center;
  }
  button:hover{
    cursor:pointer;
  }
  .boton {
    background-color: #d6daf8;
    border: 2px solid #9c8fd88a;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    color: rgb(50, 50, 50);
    box-shadow: 5px 5px #c3baf1;
    margin-bottom: 14px;
    padding: 14px;
  }

  .boton:hover {
    background-color: #ccccf0;
    color: black;
  }

  #menu {
    background-color: #b8c2fc;
    border: 2px solid #a392f1;
    color: rgb(13, 14, 58);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
  #menu:hover{
    background-color: #e5e5f1;
    color: darkblue;
  }
  
  #menu:active{
      background-color: whitesmoke;
  }

  #menuB{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    position:absolute; 
    z-index:3;
    font-size: 17px;
    margin-left: 50%;
    width: 45%;
    background-color: rgb(230, 230, 230);
  }

  #menuB button{
    background-color: #848fee;
    border: 2px solid #745ae9;
    color: white;
    border-radius: 4px;
    width: 90%;
    height: 35px;
    font-size: 25px;
    margin-bottom: 15px;
  }
  #menuB button:hover{
    background-color: #ccccf0;
    color: darkblue;
  }
  
  #menuB button:active{
      background-color: whitesmoke;
  }

  .container main{
    grid-column: span 12;
    grid-row: span 9;
    text-align: left;
    background-color: rgb(250, 250, 250);
    z-index: 0;
    position:relative;
  }
  #inicioSes{
    align-content: center;
    justify-content: center;
  }
  #registro{
    padding: 28px;
  }
  #contenedorInicio{
    padding: 28px;
  }

  .cuadradoMapa {
    width: 90%;
    height: auto; 
    margin-left: 5%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    #mapa{
      width: 100%;
    }

    #switch-pos{
        text-align: right;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #switch-TQ{
      text-align: left;
      margin-left: 28px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 17px;
    }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(180, 180, 180);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

ul.botones{
    text-align: center;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
ul.botones li{
    margin-top: 8px;
    margin-bottom: 10px;
    margin-bottom: 15px;
    justify-content: center;
}
ul.botones button{
  width: 200px;
  background-color: #d6daf8;
  border: 2px solid #9c8fd88a;
  border-radius: 4px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  color: rgb(50, 50, 50);
  box-shadow: 5px 5px #c3baf1;
}

ul.botones button:hover{
  background-color: #ccccf0;
  color: black;
}

ul.botones button:active{
    background-color: whitesmoke;
}
#elegirCom{
  text-align: left;
  margin-left: 28px;
  margin-top: 28px;
  margin-bottom: 14px;
}
#restr{
  margin-left: 28px;
  margin-top: 10px;
}
#restr ul{
  list-style-type: circle;
  width: fit-content;
}
#restr li{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 24px;
}
#restr li:hover{
  background-color: rgb(240, 240, 240);
  padding: 3px;
  box-shadow: rgba(0, 183, 255, 0.445);
}
#estadisticas {
  padding-left: 28px;
  padding-top: 28px;
  padding-right: 14px;
}
#graf {
  width: 95%;
  margin-bottom: 14px;
}